@font-face {
  font-family: "GilroyRegular";
  src: url("/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GilroyBold";
  src: url("/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GilroyLight";
  src: url("/gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.hero {
  font-family: "GilroyRegular", sans-serif;
  // z-index: -9999999 99 !important;
overflow: hidden;
  &__title {
    font-family: "GilroyBold", sans-serif;
  }
  &__img1{
    right: 10%;
    transform: translate(5% ,3.5%);
    z-index: -5555 !important;
  }
  &__img {
    right: -10%;
    transform: translate(-95%,-8%);
  }
  &__img3{
    left: 10%;
    transform: translate(33%, 15%);
  }
  &__title2{
    font-family: "GilroyLight", sans-serif;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    &__img {
      right: 0;
      transform: none;
      // margin: 0 auto;
      height: 100%;
    }
    &__img1{
        right: auto;
        transform: none;
    }
    &__img3{
        left: 0;
        transform: none;
    }
  }
}
