@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: 'CustomFont';
  src: url('/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves FOUT (Flash of Unstyled Text) */
}

body{
  font-family: 'CustomFont', sans-serif;
}

